recursive-exclude tests.* *
recursive-exclude *.tests *
recursive-exclude *.tests.* *
recursive-exclude *.tests.* *
recursive-exclude pytests.* *
prune tests
prune tests.*
prune *.tests
prune *.tests.*
prune pytests
