<html>
  <head>
      <title>SAR Remapping Demonstration</title>
      <link href="{{ url_for('static', filename='vendors/leaflet/leaflet.css') }}" rel="stylesheet">
  </head>
  <body>

    <h1>SAR Remapping Demonstration</h1>

    <form>
        <label for="image_path_lbl">Image Path: </label>
        <input id="image_path" value="~/sarpy_data/nitf/sicd_example_1_PFA_RE32F_IM32F_HH.nitf" />
        <button id="load_image" type="button">Load Image</button>
    </form>

    <form>
        <label for="decimation_lbl">Current Decimation: </label>
        <input id="decimation_indicator" value="0" readonly />
    </form>

    <form>
        <Label>y pixel</Label>
        <input id="pixel_y" value="     ">
        <Label>x pixel</Label>
        <input id="pixel_x" value="     ">
        <button id="crop_to_selection" type="button" onclick="">Crop to selection</button>
    </form>

    <div id="fft_image" style="float:left; margin-right: 10"></div>
    <div id="sar_image"></div>

    <form>
        <label for="image_path_ortho_lbl">Image Path Ortho: </label>
        <input id="image_path_ortho" value="~/sarpy_data/geoTiff/sicd_example_1_PFA_RE32F_IM32F_HH.tif" />
        <button id="ortho_image" type="button">Save Map Image</button>
    </form>

    <script src="{{ url_for('static', filename='vendors/leaflet/leaflet.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/leaflet/leaflet.pm.css') }}" />
    <script src="{{ url_for('static', filename='vendors/leaflet/leaflet.pm.min.js') }}"></script>

    <style>
     #fft_image {
        position: relative;
        height: 500px;
        width: 600px;
    }
    </style>

    <style>
         #sar_image {
            position: relative;
            height: 500px;
            width: 600px;
        }
    </style>

    <script>
        var token = "{{ csrf_token() }}";
    </script>

    <script src="{{ url_for('taser.static', filename='js/taser.js') }}"></script>

  </body>
</html>
