<html>
  <head>
    <title>SAR Remapping Demonstration</title>
  </head>
  <body>

    <h1>SAR Remapping Demonstration</h1>

    <p><label for="decimation">decimation: </label></p>
    <form>
        <input id="decimation" type="number" min="1" max="1000" value="10" step="1" />
    </form>
    <img src="{{ url_for('taser.video_feed') }}">

    <script>
      var decimation = document.getElementById('decimation');
      decimation.addEventListener('input', updateDecimation);

      function updateDecimation() {
        ROUTE_ADDRESS = 'update_decimation'
        console.log(this.value);
        xhr = new XMLHttpRequest()
        data = new FormData()

        data.append('input', this.value)
        xhr.open('POST', ROUTE_ADDRESS)
        var token = "{{ csrf_token() }}";
        xhr.setRequestHeader("X-CSRFToken", token);
        xhr.send(data)
      }

    </script>
  </body>
</html>
