<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <img src="{{ url_for('video_feed') }}">

    <h2>Using the <code>change</code> or <code>input</code> event with a Range Slider</h2>
    <input id="slider" type="range" min="0" max="299" value="0" step="1" />
    <p><label for="slider">val: </label>
    <script>
      var slider = document.getElementById('slider');
      slider.addEventListener('input', updateFrameNum);
      slider.addEventListener('input', updateSliderVal);

      function updateFrameNum() {
        ROUTE_ADDRESS = 'frame_val'
        console.log(this.value);
        xhr = new XMLHttpRequest()
        data = new FormData()

        data.append('input', this.value)
        xhr.open('POST', ROUTE_ADDRESS)
        xhr.send(data)
      }

      function updateSliderVal() {
        ROUTE_ADDRESS = 'slider_val'
        console.log(this.value);
        xhr = new XMLHttpRequest()
        data = new FormData()

        data.append('input', this.value)
        xhr.open('POST', ROUTE_ADDRESS)
        xhr.send(data)
      }
    </script>
  </body>
</html>
